<div action="" class="usersContainer">
  <div class="usersData">
    <h1>Criação de usuários</h1>

    <p>create-user works!</p>
    <button (click)="runScript('create-user.ps1')">Executar script</button>

    <div class="itensPostition">
      <form>
        <label>
          Username:
          <input type="text" name="username" [(ngModel)]="username">
        </label>
        
        <label>
          Password:
          <input type="password" name="password" [(ngModel)]="password">
        </label>
        
        <label>
          Display Name:
          <input type="text" name="displayName" [(ngModel)]="displayName">
        </label>
        
        <label>
          Email:
          <input type="email" name="email" [(ngModel)]="email">
        </label>
        
        <button type="button" (click)="createUser()">Create User</button>
      </form>
        
    
    </div>
    


  </div>
</div>
